.wp-block-quote,
.wp-block-quote.is-style-default {
    color: blue;
}

.wp-block-quote.is-style-fancy-quote {
    color: #716b6d;
}

.wp-block-buttons .wp-block-button .wp-block-button__link {
    background-color: #e2bbcb;
}

h1 {
    color: darkslategrey;
}

.alignwide {
    max-width: 50%;
    margin: 0 auto;
}

.alignfull {
    max-width: 90%;
    margin: 0 auto;
}

.has-magenta-background-color {
    background-color: #a156b4;
}

.has-magenta-color {
    color: #a156b4;
}

.has-pink-background-color {
    background-color: #d086a3;
}

.has-pink-color {
    color: #d086a3;
}

.has-lightgrey-background-color {
    background-color: #716b6d;
}

.has-lightgrey-color {
    color: #716b6d;
}

.has-lightpink-background-color {
    background-color: #e2bbcb;
}

.has-lightpink-color {
    color: #e2bbcb;
}