.wp-block-quote,
.wp-block-quote.is-style-default {
    color: blue;
}

.wp-block-quote.is-style-fancy-quote {
    color: #716b6d;
}

.wp-block-buttons .wp-block-button .wp-block-button__link .is-style-fancy-button {
    background-color: #e2bbcb;
}

.wp-block-buttons .wp-block-button .wp-block-button__link .is-style-blue-button {
    background-color: #82a2cd;
}

h1 {
    color: darkslategrey;
}

.is-style-fancy-heading {
    color: #d086a3;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.is-style-pink-heading {
    color: #d086a3;
    font-size: 30px;
    text-align: left;
}

.is-style-blue-heading {
    color: #82a2cd;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.is-style-white-heading {
    color: white;
    font-size: 60px;
    text-align: center;
    padding: 20px;
}

.wp-block-image img {
    width: 90%;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.is-style-fancy-paragraph {
    color: #716b6d;
    font-size: 20px;
}

.is-style-smalltext-paragraph {
    color: #716b6d;
    font-size: 18px;
}

.is-style-whitetext-paragraph {
    color: white;
    font-size: 18px;
    text-align: center;
}

.is-style-fancy-columns {
    background-color: #e9eaea;
    width: 70%;
    align-content: center;
    margin: auto;
}

.is-style-fancy-columns {
    width: 80%;
}

.is-style-fancy-column {
    background-color: #e4e26e;
    width: 70%;
    align-content: center;
    margin: auto;
    font-size: 30px;
    color: white;
}

.alignwide {
    max-width: 50%;
    margin: 0 auto;
}

.alignfull {
    max-width: 90%;
    margin: 0 auto;
}

.has-magenta-background-color {
    background-color: #a156b4;
}

.has-magenta-color {
    color: #a156b4;
}

.has-pink-background-color {
    background-color: #d086a3;
}

.has-pink-color {
    color: #d086a3;
}

.has-lightgrey-background-color {
    background-color: #716b6d;
}

.has-lightgrey-color {
    color: #716b6d;
}

.has-lightpink-background-color {
    background-color: #e2bbcb;
}

.has-lightpink-color {
    color: #e2bbcb;
}

.has-lightblue-background-color {
    background-color: #82a2cd;
}

.has-lightblue-color {
    color: #82a2cd;
}

.has-white-background-color {
    background-color: #ffffff;
}

.has-white-color {
    color: #ffffff;
}

.has-bggrey-background-color {
    background-color: #e9eaea;
}

.has-bggrey-color {
    color: #e9eaea;
}



