body {
    overflow-x: hidden;
}

.page {
    margin-bottom: 0;
}

.alignwide {
    margin-left: calc( 50% - 45rem );
    margin-right: calc( 50% - 45rem );
    width: 100vw;
    max-width: 90rem;
}

.alignfull {
    margin-left: calc( 50% - 50vw );
    margin-right: calc( 50% - 50vw );
    width: 100vw;
    max-width: 100vw;
}

/* Header */

/* Navigation */
.navbar-header button {
	background-color: #d086a3;
	width: 100%;
}

.navbar-toggler-icon {
	background-image: linear-gradient(180deg, #ffffff 20%, #d086a3 20%, #d086a3 40%, #ffffff 40%, #ffffff 60%, #d086a3 60%, #d086a3 80%, #ffffff 80%, #ffffff 100%);
}

.custom-logo-link {
    padding: 10px;
}

.site-nav {
	background-color: #d086a3;
}

.navbar ul {
	margin: 0rem;
}

.navbar li {
	list-style-type: none;
	margin-top: 0px;
	padding: 0px;
	display: inline-block;
}

.top-bar li a {
	padding-right: 1.5rem;
	color: #fff;
	text-decoration: none;
}

.top-bar li a:hover {
	color: #fff9c0;
}


.top-bar input {
	color:#d086a3;
	background-color: #fff;
}

form .search-field {
    width: 110px;
}

.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 4px;
    margin-top: 20px;
    font-size: 17px;
    border: none;
}

.search-submit {
    background-color: #d086a3;
    padding: 0;
}


.topnav .search-container {
    float: none;
}

.topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: inline;
    text-align: left;
    margin-top: 5px;
    padding: 10px;
}

.topnav input[type=text] {
    width: 80%;
}

.search-container {
    padding: 8px;
}

label {
    margin-bottom: 0;
}

.topnav input[type=text] {
    border: 1px solid #d086a3;  
}

.topnav h3 {
    display: block;
    color: #d086a3;
    font-size: 20px;
    float: left;
    margin-top: 30px;
    margin-right: 10px;
}


/* body */

/* home page */
.is-style-pink-heading {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.wp-block-eedee-block-gutenslider {
    width: 100%;
}

.wp-block-gallery {
    margin-left: 3rem;
    margin-top: 2rem;
}

.wp-block-image img {
    width: 70%;
}

.wp-block-image figcaption {
    color: #6a7583;
    font-size: 20px;
    text-align: center;
}

.is-style-fancy-image {
    width: 70%;
}

/* about page */
.is-style-default {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
}

.entry-header {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.entry-meta {
	text-align: center;
	margin-top: 1rem;
	color: #aaa;
}

.entry-meta a {
	text-decoration: none;
	color:#aaa;
	font-size: 1rem;
}

h2 a {
	text-decoration: none;
	color: #82a2cd;
}

h1, h2 {
	text-align: center;
	color: #82a2cd;
}

.entry-content {
    margin-top: 0;
    
}

.entry-footer {
	visibility: hidden;
}

/* post page */
.nav-title, .nav-subtitle {
	color:#d086a3;
}

.nav-next a  {
	color:#d086a3;
	text-decoration: none;
}

.nav-previous a {
	color:#d086a3;
	text-decoration: none;
}

.comment-respond h3 {
	color: #d086a3;
}

form a {
	color: #aaa;
}

/* woocommerce */

/* shop page */
#page{
    margin-top: 0;
}

.entry-content p {
	margin-top: 1rem;
	color: #d086a3;
    margin-left: 2rem;
}

.woocommerce .columns-4  {
    margin-left: 2rem;
    margin-right: 2rem;
}

.shop .product {
	background-color: #eedde4;
}

.woocommerce-Price-amount {
    color: #a77aac;
}

/* single product page */
.product {
    margin-left: 2rem;
    margin-right: 2rem;
}

.product h1 {
    font-size: 2rem;
}

.product h2 {
	text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.woocommerce-product-details__short-description p {
    margin-left: 0;
    text-align: left;
}

.woocommerce-product-details__short-description {
    text-align: left;
}

b {
    text-align: left;
}

.woocommerce div.product form.cart .button {
    float: none;
}

.woocommerce-loop-product__title {
	margin-left: 1rem;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: #a77aac;
    margin-left: 0;
    font-size: 1.5rem;
    text-align: left;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
    padding: .5em 0;
	margin-left: 1rem;
    font-size: 1em;
}

.woocommerce-Price-amount {
	margin-left: 1rem;
}

.woocommerce ul.products li.product .button {
	margin-left: auto;
    margin-right: auto;
	justify-content: center;
	display: block;
	background-color: #82a2cd;
}

.woocommerce ul.products li.product a {
    text-decoration: none;
	text-align: center;
	color: #fff;
}

.woocommerce-Tabs-panel {
    margin-bottom: 2rem;
}

.nav-links, #comments {
    margin-left: 2rem;
    margin-right: 2rem;
}

/* product single */
.summary h1 {
	text-align: left;
}

.product_meta {
	color: #666;
    text-align: left;
}

.product_meta a {
	text-decoration: none;
	color: #666;
	font-style: italic;
}

/* my account */

.woocommerce-MyAccount-navigation {
	padding-left: 2rem;
	border-right: 2px solid #e2bbcb;
    margin-top: 2rem;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
    width: 25%;
}

.woocommerce-MyAccount-navigation ul {
	list-style: none;
	margin-left: 3rem;
	font-size: large;
}

.woocommerce-MyAccount-navigation li {
	list-style: none;
	margin: 1rem;
}

.woocommerce-MyAccount-navigation a {
	color: #d086a3;
	text-decoration: none;
}

.woocommerce-MyAccount-content {
	margin-top: 2rem;
    margin-right: 4rem;
}

.woocommerce-MyAccount-content p {
	color: #404040;
}
.woocommerce-Address-title h3 {
    width: 200px;
}

.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    margin-right: 4rem;
}

address {
    width: 300px;
}

/* woocommerce cart */
.woocommerce-cart-form table th {
	color: #d086a3;
}

.woocommerce-cart-form thead {
	background-color: #f3f1dc;
}

.woocommerce-cart-form td {
	padding: 2rem;
}

.woocommerce-cart-form a {
	color: #82a2cd;
	font-size: 20px;
	text-decoration: none;
}

.woocommerce-cart-form tr:last-child {
	background-color: #f3f1dc;
}

.coupon {
	width: 20%;
}

.woocommerce button.button, .woocommerce input.button {
	background-color: #d086a3;
	color: #fff;
}

.cart-collaterals h2 {
	font-size: 2em;
	text-align: left;
	color: #d086a3;
}

.cart-subtotal th, .order-total th {
	color: #d086a3;
}

.cart-subtotal td, .order-total td {
	color: #b38397;
}

/* woocommerce checkout */
.woocommerce-checkout form {
	background-color: #f3eaee;
	padding: 2rem;
}

.site-nav form {
	background-color: #d086a3;
	padding: 0;
}

.woocommerce-checkout form h3 {
	color:#d086a3;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-weight: bold;
}

.woocommerce-checkout label {
	color:#d086a3;
}

.woocommerce-billing-fields {
    width: 600px;
}

.woocommerce-shipping-fields {
    width: 300px;
}

.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    float: none;
}

/* service page */
.wp-block-column, .is-style-smalltext-paragraph {
    margin-right: 2rem;
}

.wp-block-column p {
    color: #d086a3;
}

/* blog page */
.is-style-fancy-paragraph {
    margin-right: 2rem;
    color: #b491b8;
}

/* contact page */
.has-text-align-center {
	margin-top: 2rem;
} 

.forminator-guttenberg {
	width: 50%;
	justify-items: center;
	display: block;
	margin-left: auto;
    margin-right: auto;
	margin-top: 3rem;
}

/* cart page */
.woocommerce-cart-form {
    margin-left: 0rem;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
    width: 100px;
}

.woocommerce .cart .button {
    margin-top: 2rem;
    margin-left: 0;
}

.cart_totals {
    margin-right: 2rem;
}

/* search result page */

.post-thumbnail img {
    width: 25%;
    margin-left: 450px;
}

.entry-summary {
    text-align: center;
}

/* footer */

/* footer top */
.footer-top {
    background-color: #f8eff3;
}

.footer-top h4 {
    text-align: center;
    padding-top: 2rem;
    color: #a77aac;
}

.recipe-footer {
    margin-left: 3rem;
    margin-right: 0rem;
}

h5 a {
    color: #b491b8;
    text-decoration: none;
    text-align: center;
}

.recipe-footer {
    color: #7b8794;
    padding-bottom: 1rem;
}

/* footer sidebar */
.footer-sidebar {
    background-color: #e2bbcb;
    color: #ffffff;
}

footer h4 {
    margin-top: 2rem;
    text-align: center;
}

.site-footer ul {
	list-style-type: none;
}

.eSeparator {
	width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* recent post */
#menu-footer-menu, #social {
    margin-left: 130px;
}

#menu-footer-menu li, #social li {
    margin-top: 1rem;
}

footer .search-submit {
    background-color: #e2bbcb;
    border: none;
}

#social img {
    margin-right: 1rem;
}

#map {
    width: 80%;
    margin-bottom: 20px;
	margin-top: 10px;
}

.site-footer a {
    color: #ffffff;
    text-decoration: none;
}

.site-footer a:hover {
    text-decoration: underline;
}

#map {
    margin-left: 40px;
}

/* footer bottom */
.site-footer h3 {
    color: white; 
    padding-top: 20px;
    margin-bottom: 20px;
    margin-left: 90px;
}

.site-info {
    height: 35px;
    padding-top: 5px;
    background-color: #d086a3;
    color: #ffffff;
}

/* for desktops */
@media print,
screen and (min-width:64.5em) {

    .grid-container {
        max-width: 100rem;
        margin-left: auto;
        margin-right: auto;
    }

    .top-bar li form {
        margin-left: 1rem;
    }

    /* footer */
    .recipe-footer {
        margin-left: 4rem;
    }

}

/* for tablets */
@media print,
screen and (max-width:64em) {
    .grid-container {
        max-width: 64rem;
        margin-left: auto;
        margin-right: auto;
    }

	.custom-logo-link {
		padding: 0;
		padding-top: 1rem;
		width: 300px;
	}

	.menu {
		margin-left: 0rem;
	}

	.navbar li {
		list-style-type: none;
		margin-top: 0px;
		padding: 0px;
		display: inline-block;
	}
	
	.top-bar li a {
		padding: 6px;
		color: #fff;
		text-decoration: none;
	}

	.top-bar li form {
		margin-left: 0.5rem;
	}

	.top-bar input {
		padding: 0;
		margin: 0;
	}

	.top-bar .search-submit {
		padding: 4px;
	}

    /* account page */
    /* addresses */
    .woocommerce-MyAccount-navigation {
        padding-left: 0rem;
        border: none;
    }

    /* cart page */
    .woocommerce-page table.cart td.actions .coupon .button {
        width: 100px;
    }

    /* search result page */

    .post-thumbnail img {
        width: 30%;
        margin-left: 300px;
    }

    /* footer */
    #menu-footer-menu, #social {
        margin-left: 50px;
    }
    
	

}
/* for mobiles */
@media print,
screen and (max-width: 40em) {
    /* header */
    .custom-logo-link {
		padding: 0;
		padding-top: 1rem;
		width: 300px;
	}
    
	.navbar li {
		list-style-type: none;
		margin-top: 0px;
		padding: 0px;
		display: block;
	}
	
	.top-bar li a {
		padding: 1rem;
		color: #fff;
		text-decoration: none;
	}

	.top-bar li form {
		margin-left: 1rem;
	}

	.top-bar input {
		padding: 0;
		margin: 0;
	}

	.top-bar .search-submit {
		padding: 4px;
	}

    /* body */
    .wp-block-eedee-block-gutenslider {
        width: 100%;
        height: 300px;
    }

    .wp-block-image img {
        width: 50%;
        padding-top: 0;
    }

    .wp-block-image img {
        width: 40%;
    }

    /* service page */
    .wp-block-image img {
        width: 90%;
    }

    /* account page */
    /* addresses */
    .woocommerce-MyAccount-navigation {
        padding-left: 0rem;
        border: none;
    }

    /* cart page */
    .woocommerce-page table.cart td.actions .coupon .button {
        width: 100px;
    }

    /* checkout */
    .woocommerce-billing-fields, .woocommerce-shipping-fields {
        width: 300px;
    }

    .woocommerce-checkout-review-order {
        margin-right: 1rem;
    }

    /* search result page */

    .post-thumbnail img {
        width: 50%;
        margin-left: 120px;
    }


    /* footer */
    .recipe-footer {
        padding-bottom: 3rem;
    }

    #menu-footer-menu, #social {
        margin-left: 0px;
    }
    
    #social img {
        margin-right: 0rem;
    }

    #map {
        margin-left: 20px;
    }

}